@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  @apply bg-colorWhite text-colorStone;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-colorBlack;
}

.container {
  @apply w-[95%] max-w-[1246px] 2xl:max-w-[1536px] mx-auto;
}

::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

/* Track */

::-webkit-scrollbar-track {
  background: #f1f2f6;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}
.file_name > div{
  width: 250px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis  !important;
} 
.party_name > div{
  width: 175px !important;
}
.modal_data{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
.custom_input .MuiFormControlLabel-root{
  margin-right: 0;
}